<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        Grocery List App
    </title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Zeyada" rel="stylesheet">

</head>

<body>
    <div class="container">

        <div class="row text-center">
            <div class="col-md-12">
                <h1>My Grocery List</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">


                <form action="/items" method="post">
                    <input type="text" name="text" placeholder="enter item">
                    <input type="text" name="quantity" placeholder="enter quantity">
                    <input type="submit" value="+ Add Item">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-5 text-left">
                <ul>
                    <% items.forEach(function(item) { %>
                        <li>
                            <%= item.text %> -
                                <%= item.quantity %>
                        </li>
                        <% }) %>
                </ul>

            </div>
        </div>
    </div>
</body>

</html>
