<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        Grocery List App
    </title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/badc11c74c.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Zeyada" rel="stylesheet">

</head>

<body>
    <div class="container">

        <div class="row text-center">
            <div class="col-md-12">
                <h1>My Grocery List</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">


                <form action="/items" method="post">
                    <input type="text" name="text" placeholder="enter item">
                    <input type="text" name="quantity" placeholder="enter quantity">
                    <input type="submit" value="+ Add Item">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-left">

                <table>
                    <tr>
                        <th>
                            Edit
                        </th>
                        <th>
                            Remove
                        </th>
                        <th>
                            Item
                        </th>
                        <th>
                            Quantity
                        </th>
                    </tr>

                    <% items.forEach(function(item) { %>
                        <tr>

                            <td>
                                <a href="/items/<%= item.id %>/edit"><button type="submit"><i class="fa fa-pencil"></i></button></a>
                            </td>
                            <td>
                                <form action="/items/<%= item.id %>?_method=DELETE" method="POST">
                                    <button type="submit"><i class="fa fa-trash"></i></button>
                                </form>
                            </td>
                            <td>
                                <%= item.text %>
                            </td>
                            <td>
                                <%= item.quantity %>
                            </td>

                        </tr>
                        <% }) %>
                </table>




            </div>
        </div>
    </div>
</body>

</html>
