body {
    font-family: 'Schoolbell', cursive;
    color: #333333;
    font-size: 2em;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/background.jpg) no-repeat center;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

h1 {
    color: #f2f2f2;
    font-size: 2em;
    background: rgba(0, 0, 0, 0.8);
    padding: 15px;
}

.btn-primary {
    margin: 0;
}

input {
    margin: 20px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    font-size: 15px;
}

.input {
    width: 200px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.8);
}

form {
    font-family: sans-serif;
    font-size: 0.5em;
}

table {
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
}

td, tr, th {
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
}

th {
    background-color: rgba(173, 216, 230, 0.8);
}

td, th {
    min-width: 140px;
}

.icons, .icons button {
    background: none;
    box-shadow: none;
    border: none;
    font-size: 25px;
    padding: 0;
    margin: 0;
    color: #4285F4;
}

.icons:hover, .icons button:hover {
    color: #0d47a1;
    transform: translate(2px, 2px);
}

.fa-pencil {
    margin-top: 10px;
}
